[flake8]
# Allow up to 120 characters per line (E501)
max-line-length = 120

# E203 is not PEP 8 compliant and conflicts with black
# See: https://github.com/PyCQA/pycodestyle/issues/373
extend-ignore = E203
