{% extends "base_arena.html" %}

{% block title %}Deck Manager - ManaForge{% endblock %}

{% block content %}
<div id="deck-manager-root"></div>
{% endblock %}

{% block extra_js %}
<script src="{{ versioned_static('js/game-utils.js') }}"></script>
<script src="{{ versioned_static('js/game-cards.js') }}"></script>
<script src="{{ versioned_static('js/ui/components/CardSearchModal.bundle.js') }}"></script>
<script src="{{ versioned_static('js/card-search.js') }}"></script>
<script src="{{ versioned_static('js/ui/components/DeckManager.bundle.js') }}"></script>
<script src="{{ versioned_static('js/ui/ui-deck-manager.js') }}"></script>
{% endblock %}
