{% extends "base_arena.html" %}

{% block title %}Limited Room - {{ room.name }}{% endblock %}

{% block content %}
<div id="draft-room-root" data-room='{{ room | tojson | e }}'></div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', path='js/game-utils.js') }}"></script>
<script src="{{ url_for('static', path='js/game-cards.js') }}"></script>
<script src="{{ url_for('static', path='js/ui/components/CardSearchModal.bundle.js') }}"></script>
<script src="{{ url_for('static', path='js/card-search.js') }}"></script>
<script src="{{ url_for('static', path='js/ui/components/DraftRoom.bundle.js') }}"></script>
<script src="{{ url_for('static', path='js/ui/ui-draft-room.js') }}"></script>
{% endblock %}
